@import "tailwindcss";
@config "../tailwind.config.js";

body {
  background-color: #ffffff;
  color: #0a0a0a;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
  border-left: 1px solid #000;
}
::-webkit-scrollbar-thumb {
  background: #D4FF00;
  border: 1px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #bce600;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  color: transparent;
}
.text-stroke-lg {
  -webkit-text-stroke: 3px black;
  color: transparent;
}
